html {

    overflow-y: auto;
}


.fuerte {
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.3);
    z-index: 2;
    

}

.fuerte2 {

    position: fixed; 
    width: 90%;
    bottom: 13%;
    z-index: 3;
}

.fuerte2Mobile   {

    position: fixed; 
    width: 100%;
    bottom: 20vw;
    
    z-index: 3;

}

.selection {

 
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
    background-color: #F1F1F1;
    color: #ed1e24;
    border: none;
    font-weight: bold;
    font-size: 25px;
}



.selection:hover {

 
    background-color: #ed1e24;
    color: #F1F1F1;
   
}

.port {

    font-size: 20px;
    font-weight: bold;
}
.portMobile {

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0%;
}

.selectionMobile {

 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #F1F1F1;
    color: #ed1e24;
    border: none;
    
}



.selectionMobile:hover {

 
    background-color: #ed1e24;
    color: #F1F1F1;
   
}

.input-range {

    width: 50vw;
}

.input-range-mobile {

    width: 80vw;
}

.information {

    position: fixed;
    top: 1%;
    right: 1%;
    color: #ed1e24;
}

.subtitle {

    font-weight: bold;
    color: "#ed1e24"
}
