

.box {

    min-height: 100%;
    
    
}

.title {

    font-size: 30px;
    font-weight: bold;    
}

.hola {

    width: 100%;
}

.timer {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon {

    font-size: 2.5rem;
}

.controls {

    width: 100%;
    display: flex;
    justify-content: center;
    
    color: #ed1e24
}

.dvbutton {

    position: relative;
    width: 100%;
}

.close {
    position: absolute;
    top: 0%;
    right: 0%;
}
